BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 2
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 0
AccessModifierOffset: -4
FixNamespaceComments: false
PointerAlignment: Left
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
NamespaceIndentation: None
