name: Build

on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  # Increase this to manually reset the conda environment cache
  CONDA_CACHE_NUMBER: 0
  YARDL_VERSION: 0.6.0

defaults:
  run:
    # See https://github.com/marketplace/actions/setup-miniconda#important
    shell: bash -el {0}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        cppVersion: [17]

    name: Validate SDKs (C++${{ matrix.cppVersion }})

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure Build Environment
      uses: ./.github/actions/configure-mrd-build-environment

    - name: Build and Test
      run: just cpp_version=${{ matrix.cppVersion }} matlab=enabled validate-with-no-changes

    - name: Package MATLAB toolbox
      uses: matlab-actions/run-build@v2
      with:
        tasks: packageToolbox
        startup-options: -sd ./matlab/

    - name: Store MATLAB Toolbox
      uses: actions/upload-artifact@v4
      with:
        name: matlab-toolbox
        path: matlab/release/mrd.mltbx
        overwrite: true

    - name: Generate CMake FetchContent source archive
      run: |
        # tar -czf mrd-cmake-src.tar.gz --transform s/cpp/mrd-cmake-src/ --exclude build --exclude conda ./cpp/
        tar -czf mrd-cmake-src.tar.gz -C ./cpp/ CMakeLists.txt mrd/ mrd-tools/

    - name: Store CMake FetchContent source archive
      uses: actions/upload-artifact@v4
      with:
        name: mrd-cmake-src
        path: mrd-cmake-src.tar.gz
        overwrite: true

  release:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: build
    runs-on: ubuntu-latest
    name: Publish Release
    permissions:
      contents: write

    steps:
    - name: Retrieve MATLAB Toolbox
      uses: actions/download-artifact@v4
      with:
        name: matlab-toolbox

    - name: Retrieve CMake FetchContent source archive
      uses: actions/download-artifact@v4
      with:
        name: mrd-cmake-src

    - name: Generate Checksums
      run: |
        sha256sum mrd.mltbx > sha256-checksums.txt
        sha256sum mrd-cmake-src.tar.gz >> sha256-checksums.txt

    - name: Publish Artifacts
      uses: softprops/action-gh-release@v2
      with:
        files: |
          sha256-checksums.txt
          mrd-cmake-src.tar.gz
          mrd.mltbx
        fail_on_unmatched_files: true
        body: |
          See also:
          - [MRD Conda C++ SDK](https://anaconda.org/ismrmrd/mrd)
          - [MRD Conda Python SDK](https://anaconda.org/ismrmrd/mrd-python)
          - [PyPi]()
        append_body: true
